.App {
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: rgb(34, 34, 34);
    height: 100vh;
    color: rgb(250, 250, 250);
  }
  .App-title {
    font-size: 50px;
    padding: 25px 0;
  }
  
  .Timers {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 900px) {
    .Timers {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 900px) {
    .Stopwatch {
      margin-bottom: 40px;
    }
  }
  .Countdown,
  .Stopwatch {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 20px;
    width: 400px;
    background-color: rgb(22, 27, 31);
    box-shadow: 0 3px 6px rgb(12, 12, 12);
  }
  .Countdown {
    padding-top: 10px;
  }
  
  .Countdown-header,
  .Stopwatch-header {
    font-size: 40px;
    font-weight: bold;
  }
  
  button {
    background-color: #202b33;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #106ba3;
  }
  .Stopwatch button {
    padding: 12px 32px;
    font-size: 20px;
  }
  .Stopwatch-display {
    padding: 40px 0;
    font-size: 48px;
    color: #fff;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin: 20px 0;
    img{
        margin: 20px;
    }
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .hand-img{
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    .Stopwatch-display{
      font-size: 45px;
    }
    .card{
      width: 95%;
    }
    .Stopwatch button {
      padding: 12px 25px;
      font-size: 17px;
    }
    .Stopwatch {
      max-width: 300px;
      width: auto;
    }
  }