@import '../assets/style/variables.scss';
.headerBar {
  .navbar {
    height: 160px !important;
    background-image: url(../assets/images/header5.jpg);
    background-repeat: no-repeat;
  } 
  .beatsImage {
    height: 5rem;
    margin-left: 5px;
  }
  .nav-link:hover {
    svg {
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
    -ms-transform: rotateZ(720deg);
    -o-transform: rotateZ(720deg);
    transition: all .3s ease;
    }
  }

  .brand-name:hover {
    img {
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
    -ms-transform: rotateZ(720deg);
    -o-transform: rotateZ(720deg);
    transition: all .3s ease;
    }
  }
  
 
}
.nav-color{
    background-color: $main-header !important;
    height : 13vh;
    font-size: 1.2rem;
}
.brand-name{
  font-size: 2.0rem !important;  
  color: white !important;
  font-weight: 700;
  line-height: 100px !important;
}

.dropdown-menu.show {
  background-color: #5e8a87 !important;
  width: 240px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: black;
}

@media (max-width: 576px) { 
  .brand-name {
    width: 70%;
  }

  .dropdown-menu.show {
    border: 0px solid;
    padding-left: 35px;
  }

  .navbar-brand{
    width: 70% !important;
    overflow: hidden;
  }

  .navbar-collapse.show {
    background-color: #5e8a87;
  }
}

