@import '../assets/style/variables.scss';

.nav-color{
    background-color: $main-header !important;
    height : 13vh;
    font-size: 1.2rem;
}
.brand-name{
  font-size: 1.8rem !important;  
  color: white !important;
  font-weight: 700;
}

.dropdown-menu.show {
  background-color: #5e8a87 !important;
  width: 240px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: black;
}

@media (max-width: 576px) { 
  .brand-name {
    width: 70%;
  }

  .dropdown-menu.show {
    border: 0px solid;
    padding-left: 35px;
  }

  .navbar-brand{
    width: 70% !important;
    overflow: hidden;
  }

  .navbar-collapse.show {
    background-color: antiquewhite;
  }
}

