.nav-color{
    background-color: #d65b47!important;
    height : 13vh;
    font-size: 1.2rem;
}
.brand-name{
  font-size: 1.8rem !important;  
}

.dropdown-menu.show {
  background-color: antiquewhite !important;
  width: 100px;
}

@media (max-width: 576px) { 
  .brand-name {
    width: 70%;
  }

  .dropdown-menu.show {
    border: 0px solid;
    padding-left: 35px;
  }

  .navbar-brand{
    width: 70% !important;
    overflow: hidden;
  }

  .navbar-collapse.show {
    background-color: antiquewhite;
  }
}

