.tips {
    .nav-link {
        background-color: #87544c;
        border-radius: 5px;
        margin-bottom: 5px !important;
    }
    .nav-link.active {
        background-color: #d65b47 !important;
        color: black;
    }
    .nav {
        a {
            color: black !important;
            font-size: 24px;
            border-radius: 10px;
        }
    }
}