@import '../assets/style//variables.scss';

.tips {
    .nav-link {
        background-color: #5e8a87;
    }
    .nav-link.active {
        background-color: $main-header !important;
        color: black;
    }
    .nav {
        border-bottom: 1px solid black;
        a {
            color: black !important;
            font-size: 20px;
        }
    }
    .nav-tabs .nav-link.active {
        border: 1px solid black !important;
    }
}